<br>
<ng-container *ngIf="products.length !=0">
    <div class="container">
        <div class="card-table">
            <div class="cart-product">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Sr.No</th>
                            <th>Product Name</th>
                            <th>Product Image</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of products; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{item.productName}}</td>
                            <td><img src="{{item.imageurl}}" alt="" width="200" height="200"></td>
                            <td style="width: 25%;">{{item.description}}</td>
                            <td style="width: 12%;">{{item.productRate}}</td>
                            <td style="width: 12%;">{{item.quantity}}</td>
                            <td style="width: 12%;">{{item.total}}</td>
                            <td>
                                <button (click)=removeItem(item) class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4"></td>
                            <td><button (click)=emptycart() class="btn btn-danger">Empty Cart</button></td>
                            <td><button routerLink="/products" class="btn btn-primary">Shop More</button></td>
                            <td><button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal4" (click)="edit()">Checkout</button></td>
                            <td><strong>Grand Total: ₹ {{grandTotal}}</strong></td>

                           
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="products.length ==0">
    
    <div class="container">
        <div class="card">
            <h5 class="card-title">My Cart</h5>
        </div>
        <div class="center">
            <img src="http://localhost:4200/assets/empty-cart.png" alt="">
            <h4>Your Cart is empty</h4>
            <h5>Add item to it now</h5>
            <button routerLink = "/products" class="btn btn-primary">Shop Now</button>
        </div>
    </div>
    </ng-container>
    



     <!-- Modal -->
  <div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Please Order here!</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          
            <div  class="container" >
                <form  [formGroup]="formProfile" (ngSubmit)="updateForm()"  role="form" >
                    
                    <div class="col-sm-6">
                        <input  type="hidden" name= "userid"  id="firstName" value="asdf" formControlName="userid"  />
                    </div>

                    <div class="form-group">
                        <label for="firstName"  class="col-sm-3 control-label">Name</label>
                        <div class="col-sm-6">
                            <input  type="text"  name= "username" class="form-control" style="width:400px" id="firstName" value=asdf formControlName="username"   />
                        </div>
                        <div *ngIf="formProfile.controls['username'].errors" style="color: red;">
                            This Field is required  
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="lastName" class="col-sm-3 control-label">Email Id</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control"  style="width:400px"  id="firstName" value=asdf formControlName="emailid"   />
                        </div>
                        <div *ngIf="formProfile.controls['emailid'].errors" style="color: red;">
                            This Field is required  
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="lastName" class="col-sm-3 control-label">Address</label>
                        <div class="col-sm-6">
                            <textarea type="text" name= "address" class="form-control"   id="firstName" style="width:400px; height: 200px;"   value="asdf"  formControlName="address"  ></textarea>
                        </div>
                        <div *ngIf="formProfile.controls['address'].errors" style="color: red;">
                            This Field is required  
                        </div>
                    </div>

                        <div class="col-sm-6">
                            <input type="hidden" ngModel name="productId" class="form-control" id="firstName"   value=asdf formControlName="productId"  />
                        </div>

                   
                     <div class="form-group">
                        <label for="lastName" class="col-sm-3 control-label">Product Name</label>
                        <div class="col-sm-6">
                           
                           
                           <input type="text"  id="firstName" style="width:400px" class="form-control"  value=asdf  formControlName="productName"  />
                        </div>
                        <div *ngIf="formProfile.controls['productName'].errors" style="color: red;">
                            This Field is required  
                        </div>
                    </div>
                  

                    <div class="form-group">
                        <label for="firstName"  class="col-sm-3 control-label">Product Category</label>
                        <div class="col-sm-6">
                            <input  type="text"  class="form-control" id="firstName" style="width:400px"  value=asdf  formControlName="productCategory"  />
                        </div>
                        <div *ngIf="formProfile.controls['productCategory'].errors" style="color: red;">
                            This Field is required  
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="firstName"  class="col-sm-3 control-label">Product Rate</label>
                        <div class="col-sm-6">
                            <input  type="text" class="form-control"  id="firstName" style="width:400px" value=asdf formControlName="grandTotal"  />
                        </div>
                        <div *ngIf="formProfile.controls['grandTotal'].errors" style="color: red;">
                            This Field is required  
                        </div>
                    </div> 
                  
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" value="Save"  class="btn btn-primary">Save changes</button>
                      </div>
                    <!-- <input type="submit" value="Save" class="btn btn-primary mt-3" />  -->
                </form>
            </div> 

        </div>
        
      </div>
    </div>
  </div>