
<h1>Please Login here !</h1>
<br>
 <form #loginform = "ngForm" (ngSubmit)="loginUser($event)">
    <small class="text-66danger">{{msg}}</small>
<div class="example-container">
    <mat-form-field appearance="fill" style="width:45vw">
      <mat-label>Enter your email</mat-label>
      <input  matInput placeholder="pat@example.com" [formControl]="email" required name="email" [(ngModel)]="user.emailId">
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
<br><br><br>
    <mat-form-field appearance="fill"  style="width:45vw">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" name="password" [(ngModel)]="user.password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
<br><br><br>
      <button class="btn btn-primary">Login</button>
      <button  style="margin-left:420px;" class="btn btn-danger">Forgot Password</button>

  </div>
  </form>
  
  
