
<header>
    <div class="navbar navbar-dark bg-primary shadow-sm">
        <div class="bav-bar-brand align-item-center d-flex">
            <i style="font-size:40px; color: white; margin-left: 20px;" class="fas fa-shipping-fast">&nbsp;

            </i>

            <strong class="heading" style="font-size:30px">Flipkart</strong>
          
            <div class="form-group">
                <input type="search" class="form-control" [(ngModel)]="searchTerm" (keyup)="search($event)" placeholder="Search">
            </div>
            <span class="fas fa-search search-icon"></span>

            <button class="btn btn-primary" *ngIf="!loggedIn()" (click)="Login()">Login</button>
            <button class="btn btn-primary" *ngIf="!loggedIn()" (click)="Signup()">Signup</button>
            <button class="btn btn-primary" *ngIf="!loggedIn()" (click)="Login()">Admin</button>
            <button class="btn btn-primary" *ngIf="loggedIn()" routerLink="/products"  (click)="onLogout()">Logout</button>
     
            <h4 class="float-left" style="color: white;" *ngIf="loggedIn()">welcome {{x}}</h4>

            
  

            <button  routerLink="cart" class="btn btn-primary" style="margin-left:500px;">
                <i class="fa fa-shopping-cart" style="font-size:30px;color: yellow;"></i>
                <div  style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
            </button>
        </div>
    </div>
</header>